 <%= simple_form_for [@mentor, @reservation] do |f| %>
      <div class="field">
      <p>  Matiere: </p> 
        <%= f.collection_select :id, Matiere.where(mentor_id: @mentor.id), :id, :Name, {promt: "choose a matiere"}, input_html: { class: "form-toggle"}, class: "form-control" %>         
      </div>
      <div class="field"> 
        <%= f.input :date, class: "form-control" %> 
      </div> 
      <div class="action">  
         <%= f.button :submit, class: "btn btn-primary" %>
      </div>
        <% end %> 
